Dockerfile
docker-compose*.yml
.dockerignore
node_modules
npm-debug.log
tsconfig.tsbuildinfo
README.md
.git
.next
.env*
docs

# exclude data folder, mounted as volume
!data
data/*

# include dev db to pass build
!data/database/hn-new-jobs-database-dev.sqlite3

