@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme('colors.white');
    --foreground: theme('colors.slate.900');

    --muted: theme('colors.slate.100');
    --muted-foreground: theme('colors.slate.500');

    --popover: theme('colors.white');
    --popover-foreground: theme('colors.slate.900');

    --border: theme('colors.slate.200');
    --input: theme('colors.slate.200');

    --card: theme('colors.white');
    --card-foreground: theme('colors.slate.900');

    --primary: theme('colors.slate.900');
    --primary-foreground: theme('colors.slate.50');

    --links: theme(colors.blue.600);
    --links-hover: theme(colors.blue.800);
    --links-foreground: theme(colors.white);

    --secondary: theme('colors.slate.100');
    --secondary-foreground: theme('colors.slate.900');

    --accent: theme('colors.slate.100');
    --accent-foreground: theme('colors.slate.900');

    --destructive: theme('colors.red.500');
    --destructive-foreground: theme('colors.slate.50');

    --ring: theme('colors.slate.400');

    --radius: 0.5rem;

    /* chart colors */

    --chart-1: theme('colors.emerald.600');
    --chart-2: theme('colors.yellow.400');
    --chart-3: theme('colors.red.500');
    --chart-4: theme('colors.blue.800');
    --chart-5: theme('colors.orange.400');

    --bar-chart-1: theme('colors.emerald.600');
    --bar-chart-2: theme('colors.emerald.400');
    --bar-chart-3: theme('colors.yellow.300');
    --bar-chart-4: theme('colors.orange.400');
    --bar-chart-5: theme('colors.red.500');
  }

  .dark {
    --background: theme('colors.slate.900');
    --foreground: theme('colors.slate.100');

    --muted: theme('colors.slate.800');
    --muted-foreground: theme('colors.slate.500');

    --accent: theme('colors.slate.700');
    --accent-foreground: theme('colors.slate.50');

    --popover: theme('colors.slate.900');
    --popover-foreground: theme('colors.slate.400');

    --border: theme('colors.slate.700');
    --input: theme('colors.slate.700');

    --card: theme('colors.slate.900');
    --card-foreground: theme('colors.slate.100');

    --primary: theme('colors.slate.50');
    --primary-foreground: theme('colors.slate.900');

    --links: theme(colors.blue.300);
    --links-hover: theme(colors.blue.500);
    --links-foreground: theme(colors.white);

    --secondary: theme('colors.slate.800');
    --secondary-foreground: theme('colors.slate.50');

    --destructive: theme('colors.red.700');
    --destructive-foreground: theme('colors.slate.50');

    --ring: theme('colors.slate.700');

    --radius: 0.5rem;

    /* chart colors */

    --chart-1: theme('colors.emerald.500');
    --chart-2: theme('colors.yellow.600');
    --chart-3: theme('colors.red.600');
    --chart-4: theme('colors.blue.700');
    --chart-5: theme('colors.orange.400');

    --bar-chart-1: theme('colors.emerald.500');
    --bar-chart-2: theme('colors.emerald.700');
    --bar-chart-3: theme('colors.yellow.500');
    --bar-chart-4: theme('colors.orange.500');
    --bar-chart-5: theme('colors.red.600');
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
  .my-container {
    @apply max-w-screen-xl w-full px-4 md:px-8 2xl:px-0 md:mx-auto;
  }
}
